{% extends 'sobriety/base_sobriety.html' %}
{% block title %}Donate{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background: url("/static/sobriety/images/paybackground.jpg") no-repeat center center fixed;
  background-size:cover;
}

#edit {
    max-width:500px;
    width:auto;
    height:auto;
    margin-top: 2% auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
    opacity:0.9;
    overflow: hidden;
}

/* Blue outline on focus */
.StripeElement--focus {
    border-color: #80BDFF;
}

/* Can't see what I type without this */
#card-number.form-control,
#card-cvc.form-control,
#card-exp.form-control {
    display:block;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
  padding: 0px;
}
.contentform {
  padding: 20px;
  float:middle;
  margin:auto;
}
</style>

<!--<script>-->
<!--	history.pushState(null, null, location.href);-->
<!--	window.onpopstate = function () {-->
<!--        history.go(1);-->
<!--    };-->
<!--</script>-->

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="/static/sobriety/images/progressbar.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle;
	transform:translate(-50%, -50%); width:80px; z-index:100; top:120px; display: none;" id="gif">

<div id="edit">
  <div class="contentform">
		<div class="formcontent">
          <center>
            <button id="payButton" style="margin-top:40%; font-size:20px; font-weight:600; color:white; background:red; border-radius:50%; border:0; padding:30px; display:block;">
                Pay Now
            </button>
            <button id="okayButton" style="margin-top:40%; font-size:20px; font-weight:600; color:white; background:red; border-radius:50%; border:0; padding:30px; display:none;">
                Okay
            </button>
          </center>
        </div>
  </div>
</div>

<form style="display: none;" id="form" action="/payForDonate" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" id="token" name="token" value="">
    <input type="hidden" id="price" name="price" value="{{price}}">
</form>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: 'pk_live_U6IOvdlJZzvbwaW9ROlg36dq',
  image: '/static/sobriety/images/icon.png',        //     https://stripe.com/img/documentation/checkout/marketplace.png
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.

    document.getElementById('token').value = token.id;
    document.getElementById('payButton').style.display = "none";
    document.getElementById('okayButton').style.display = "block";
  }
});

document.getElementById('payButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  openAlert();
  e.preventDefault();
});

document.getElementById('okayButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  document.getElementById('form').submit();
  document.getElementById('gif').style.display = "block";
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});

openAlert();

function openAlert(){
  // Open Checkout with further options:
  handler.open({
    name: 'Sobriety Network',
    description: 'Donate',
    amount: document.getElementById("price").value
  });
}

function getCookie(name) {
    console.log('getCookie');
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                    }
            }
    }
    console.log('cookie:' + cookieValue);
    return cookieValue;
}

function post(path, params, method) {
   method = method || "post"; // Set method to post by default if not specified.

   // The rest of this code assumes you are not using a library.
   // It can be made less wordy if you use one.
   var form = document.createElement("form");
   form.setAttribute("method", method);
   form.setAttribute("action", path);

   for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
      }
   }

   var hiddenField1 = document.createElement("input");
   hiddenField1.setAttribute("type", "hidden");
   hiddenField1.setAttribute("name", 'csrfmiddlewaretoken');
   hiddenField1.setAttribute("value", getCookie('csrftoken'));
   form.appendChild(hiddenField1);

   document.body.appendChild(form);
   form.submit();
}
</script>
{% endblock %}
